/*Stylesheet*/
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.section1 {
    background-color: #1f2937;
    padding: 0px 160px 60px 160px;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
}
.headerl {
    font-size: 24px;
    color: #f9faf8;
}
.headerlinks {
    font-size: 18px;
    display: flex;
    gap: 20px;
}
.content1 {
    display: flex;
    gap: 80px;
    padding: 90px 0px 90px 0px;
}
.secondhero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}
.herohook {
    font-size: 18px;
    color: #e5e7eb;
}
.b1 {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 30px 8px 30px;
    font-size: large;
}
.img1 {
    height: 375px;
    width: 575px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 80px 0px;
    gap: 30px   ;
}

.topic {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}
.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.id {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.headshot {
    max-block-size: 200px;
    border-radius: 8px;
    border-style: solid;
    border-color: #3882f6;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.motivation {
    max-width: 60%;
    padding: 80px 0px 80px 0px;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.signed {
    display: flex;
    justify-content: end;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.section4 {
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 1200px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;
    gap: 200px;
}
.boxbutton {
    background-color: #3882f6;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 8px;
    padding: 10px 50px 10px 50px;
    color: #e5e7eb;
    font-size: 24px;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.call {
    display: flex;
    flex-direction: column;
}
.title1 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext1 {
    font-size: 20px;
    color: #e5e7eb;
}